/* Links */
a:link, a:visited {
    color: #660000;
    font-weight: normal;
    text-decoration: none;
}
a:hover, a:active {
    border: medium none;
    color: #666666;
    text-decoration: none;
}

a.ext_link:before {
    content:"";
}

/* Headers */

h1, h2, h3, h4, h5, h6 {
      font-family:'Montserrat','Constantia','Georgia','Trebuchet MS', 'Lucida Sans', 'Lucida Grande', 'Bitstream Sans Vera', Verdana, Arial, Tahoma, Helvetica, sans-serif;
   }

h1 {
   font-size:2em;
   font-weight:700;
   text-align:left;
   }

h1 a:link, h1 a:visited{
   color:#111111;
   text-decoration:none;
   font-weight:700;
   }

h2 {
   font-weight:700;
   }

h2 a:link, h2 a:visited {
   color:#111111;
   text-decoration:none;
   font-weight:700;
   }

#access {
	font-family:  'Montserrat';
	color: #808080;
}

#access a {
	/*color: #404040;*/
	color: #000;
}

#access li {
	
}

#nav-search {
   /*text-align:right;*/
   position:relative;
   left:800px;
   }

#nav-search a {
   color: #333333;
   text-decoration:none;
   }

/* Body Text */
body {
   /*font-family:'Adobe Garamond Pro', Garamond, Georgia;*/
   font-family: 'Source Sans Pro','Calibri','Lucida Sans Unicode','Lucida Sans','Trebuchet MS','Lucida Grande','Bitstream Sans Vera',Verdana,Arial,Tahoma,Helvetica,Sans-Serif;
   color:#111111;
   font-size:11pt;
}
/*
body {
}
*/
#caption {
   font-style:italic;
   font-size:90%;
   color:#808080;
   /*text-align:left;
   margin-left:0;
   margin-right:auto;*/
   float:left;
   }

#caption2{
   font-style:italic;
      font-size:90%;
   color:#808080;

   /*text-align:right;
   
   margin-left:auto;
   margin-right:0;*/
   float:right;
   }
   
#search-form{
   display:inline;
   position:relative;
   left:900px;
   }

.entry-meta{
   color:#808080;
   font-size:90%;
   }

.aside-separator{
   color:#CCCCCC;
   text-align:center;
   
   }

input, textarea, select, option{
   background: none repeat scroll 0 0 #EEEEEE;
    border: 1px solid #CCCCCC;
    color: #111111;
    font-family: 'Calibri','Lucida Sans','Trebuchet MS','Lucida Grande','Bitstream Sans Vera',Verdana,Arial,Tahoma,Helvetica,Sans-Serif;
    /*font-size: 100%;*/
    margin: 2px;
    padding: 2px;
   }